{
  "_comment": "Copy this file to testmatrix.json and fill in your provider details.",

  "filter": "Conditional|EdgeCases",

  "providers": [
    {
      "name": "MinIO",
      "config": ".env.minio"
    },
    {
      "name": "LocalStack",
      "config": ".env.localstack"
    },
    {
      "name": "AWS S3",
      "config": ".env.aws"
    }
  ]
}
